	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../../js/production.min.js"></script>
	
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
	
</html>