{{> organisms-header }}
<main role="main">
	{{> molecules-block-hero }}

	<section>
		<div class="lc-single">
			<p>Pittsburgh is home to Frost Finery Jewlery Studio where creating staple pieces that can be worn every day is the mission. The addiction of melting, hammering and manipulating metal into beautiful gifts is the undertaking of boss lady and metal maven Melissa Frost. Put simply, Frost Finery was born to make and serve the shiny.</p>

			<p>These jewels are handmade. How handmade? Every design starts off as a sketch. Then they’re prototyped by hand to make sure sizing, fitting and durability are spot-on. Fabrication follows at Frost Finery home studio in Lawrenceville, Pittsburgh and also at the Society for Contemporary Craft and TechShop for more heavy duty torch and water-jetting action.</p>

			<p>The hope is for each shiny piece of metal to remind its lovely wearers of someone, some feeling, idea or place to be thankful for.</p>

		</div>
	</section>
	<hr class="hr-short" />
	<section>
		{{# press }}
		{{> molecules-block-hero-text }}
		{{/ press }}
	</section>
	<hr class="hr-short" />
	<section>
		{{# thanks }}
		{{> molecules-block-hero-text }}
		{{/ thanks }}
	</section>
</main><!--End role=main-->
{{> organisms-footer }}
