{{> organisms-header }}
<main role="main">
	<div class="g g-2up">
		<div class="gi">
			{{> atoms-square }}
		</div>
		<div class="gi">
			<h1>Contact</h1>
			<p>For custom jewelry, questions, or to get in touch please email <a href="mailto:melissa@frostfinery.com">melissa@frostfinery.com</a></p>
		</div>
	</div>
</main><!--End role=main-->
{{> organisms-footer }}