{{> organisms-header }}
<main role="main">
	<div class="g g-2up">
		<div class="gi">
			{{> atoms-square }}
		</div>
		<div class="gi">
			<h1>Custom Work</h1>
			<p>Looking to get something custom made for you or someone awesome? Reach out to <a href="mailto:melissa@frostfinery.com">melissa@frostfinery.com</a></p>
		</div>
		<a href="#" class="btn">Request A Custom Order</a>
	</div>
	<hr class="hr-short" />
	{{> molecules-block-hero-text }}
	<div class="g g-max4 collection-list">
		{{# custom-work-list }}
		<div class="gi">{{> organisms-block-jewelry}}</div>
		{{/ custom-work-list }}
	</div>
</main><!--End role=main-->
{{> organisms-footer }}