{{> organisms-header }}
<main role="main">
	<h2 class="alpha">Upcoming Events</h2>
	<ul class="events-list">
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
	</ul>
	<hr />
	<h2 class="alpha">Past Events</h2>
	<ul class="events-list">
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
		<li>
			{{> molecules-block-event }}
		</li>
	</ul>
</main><!--End role=main-->
{{> organisms-footer }}