{{> organisms-header }}
<main role="main">
	<div class="g g-2up">
		<div class="gi">
			{{> atoms-square }}
		</div>
		<div class="gi">
			<h1>Shop</h1>
			<p>The full collection is available through Etsy. Frost Finery accepts payment via PayPal, credits cards and Etsy gift cards.</p>
			<a href="#" class="btn">Shop On Etsy</a>
		</div>
	</div>
<hr class="hr-short" />
<div class="event-shops-container">
		<div class="event-container">
			<h2 class="alpha section-heading">Upcoming Events</h2>
			<ul class="events-list">
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
			</ul>
			<hr class="hr-short" />
			<h2 class="alpha section-heading">Past Events</h2>
			<ul class="events-list">
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
				<li>
					{{> molecules-block-event }}
				</li>
			</ul>
		</div>
	
		<div class="shop-container">
		<h2 class="alpha section-heading">Shops Carrying Frost Finery</h2>
			<ul class="events-list">
				<li>
					{{> molecules-block-shops }}
				</li>
				<li>
					{{> molecules-block-shops }}
				</li>
				<li>
					{{> molecules-block-shops }}
				</li>
				<li>
					{{> molecules-block-shops }}
				</li>
				<li>
					{{> molecules-block-shops }}
				</li>
			</ul>
		</div>
</div>
</main><!--End role=main-->
{{> organisms-footer }}
</main><!--End role=main-->
{{> organisms-footer }}