{{> organisms-header }}
<main role="main">
	<div class="g g-2up">
		<div class="gi">
			{{> atoms-square }}
		</div>
		<div class="gi">
			<h1>Shop</h1>
			<p>The full collection is available through Etsy. Frost Finery accepts payment via PayPal, credits cards and Etsy gift cards.</p>
			<a href="#" class="btn">Shop Now</a>
		</div>
	</div>
</main><!--End role=main-->
{{> organisms-footer }}