<!-- Begin .header -->
<header class="header" role="banner">
	<div class="lc">
		{{> molecules-logo }}
		<a href="#nav" class="nav-toggle">Menu</a>
		{{> molecules-primary-nav }}
	</div>
</header>
<!-- End .header -->