<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		<div class="newsletter-container">
			{{> molecules-newsletter }}
		</div>
		{{> molecules-social-nav }}
		{{> molecules-footer-nav }}
	<div class="copyright">&copy; 2014 Frost Finery</div>
	</div>
</footer>
<!-- End Footer -->