<nav class="c-local-nav">
	<ul class="c-local-nav__list">
		{{# localNavList }}
		<li class="c-local-nav__item">
			<a href="#{{ id }}" class="c-local-nav__link">{{ label }}</a>
		</li>
		{{/ localNavList }}
	</ul>
</nav><!--end .nav-->
