<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ link.pages-shop }}">Shop</a></li>
		<li><a href="{{ link.pages-collections }}">Collections</a></li>
		<li><a href="{{ link.pages-custom-work }}">Custom Work</a></li>
		<li><a href="{{ link.pages-about }}">About</a></li>
		<li><a href="{{ link.pages-blog }}">Blog</a></li>
		<li><a href="{{ link.pages-contact }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
