<div class="social">
	<h2>Follow Us</h2>
	<ul class="social-nav">
		<li><a href="http://instagram.com/frostfinery" class="social-nav-instagram" rel="external">Instagram</a></li>
		<li><a href="https://www.facebook.com/frostfinfery" class="social-nav-facebook" rel="external">Facebook</a></li>
		<li><a href="http://www.pinterest.com/frostfinery/" class="social-nav-pinterest" rel="external">Pinterest</a></li>
		<li><a href="https://twitter.com/frostfinery" class="social-nav-twitter" rel="external">Twitter</a></li>
	</ul>
</div>