<nav id="footer-nav" class="footer-nav">
	<ul class="nav-list">
		<li><a href="{{ link.pages-collections }}">About</a></li>
		<li><a href="{{ link.pages-list }}">Shop</a></li>
		<li><a href="{{ link.pages-profile }}">Custom Work</a></li>
		<li><a href="{{ link.pages-profile }}">Blog</a></li>
		<li><a href="{{ link.pages-profile }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
