<!-- Begin Next Event Footer Section -->
<div class="next-event-container">
	<h2>Next Event:</h2>
	{{> molecules-block-next-event}}
	<div class="footer-event-link">
		<a href="/events">See All Upcoming Events</a>
	</div>
</div>

<!--End Next Event Footer-->