<!-- Begin .header -->
<header class="header cf" role="banner">
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> molecules-primary-nav }}
</header>
<!-- End .header -->