.collection-list {
	.gi {
		overflow: visible;
	}
}

.events-list-item {
	text-align: center;
	margin: 1em 0;
	
	a {
		color: $gray;
		display: block;
		transition: all 0.2s ease-in-out;
		
		&:hover, &:hover h3 {
			color: $pink;
			
		}
		
		h3 {
			color: $gray-dark;		
			transition: all 0.2s ease-in-out;
		}
	}
	
	&:after {
		content: "";
		display: block;
		height: 2px;
		background: $gray-light-3;
		max-width: 100px;
		margin: 2em auto 2em;
		
	}
	
}

.events-list {
	
	max-width: 28em;
	margin: 0 auto;
	
	li:last-child {
		.events-list-item:after {
			display: none;
		}
	}
}

.next-event-list-item {
		text-align: center;
	a {
		color: $white;
		display: block;
		transition: all 0.2s ease-in-out;
		margin: 1em 0 1em 0;
		
		&:hover, &:hover h3 {
			color: $pink;
		}
		
		h3 {
			color: $white;		
			transition: all 0.2s ease-in-out;
		}
	}
	
}

// List of links
.link-list {
	text-align: center;
	color: $pink;
	font-weight: bold;

	a {
		color: $pink;
		transition: color 0.2s ease-out;

		&:hover, &:focus {
			color: $gray-dark;
		}
	}

	@media all and (min-width: 40em) {
		text-align: left;
		column-width: 50%;
		column-count: 2;
	}

	@media all and (min-width: 52em) {
		column-width: 33.333333%;
		column-count: 3;
	}
}