.collection-list {
	.gi {
		overflow: visible;
	}
}

.events-list-item {
	text-align: center;
	margin: 1em 0;
	
	a {
		color: $gray;
		display: block;
		transition: all 0.2s ease-in-out;
		
		&:hover, &:hover h3 {
			color: $pink;
			
		}
		
		h3 {
			color: $gray-dark;		
			transition: all 0.2s ease-in-out;
		}
	}
	
	&:after {
		content: "";
		display: block;
		height: 2px;
		background: $gray-light-3;
		max-width: 100px;
		margin: 2em auto 2em;
		
	}
	
}

.events-list {
	
	max-width: 28em;
	margin: 0 auto;
	
	li:last-child {
		.events-list-item:after {
			display: none;
		}
	}
}

.next-event-list-item {
		text-align: center;
	a {
		color: $white;
		display: block;
		transition: all 0.2s ease-in-out;
		margin: 1em 0 1em 0;
		
		&:hover, &:hover h3 {
			color: $pink;
		}
		
		h3 {
			color: $white;		
			transition: all 0.2s ease-in-out;
		}
	}
	
}
