.inline-list {
	li {
		display: inline-block;
	}
}


// Big List (Detail list)
.big-list-container {
	max-width: 30em;
	margin: 0 auto;
}

//Big List Title Area
.big-list-title {
	font-size: 2.75rem;
	margin-bottom: $space-half;
	outline: 0;
	border-bottom: 1px solid rgba(255,255,255,0);
	@include transition(border-bottom-color,$fade-quick,ease-out);

	&:hover {
		border-bottom-color: $gray-light-3;
	}
}

//Meta (tags)
.big-list-meta {
	color: $gray-light-3;
	font-size: 0.75rem;
	letter-spacing: 0.1em;

	a {
		color: $gray-light-4;
		@include transition(color,$fade-quick,ease-out);

		&:hover, &:focus {
			color: $gray;
		}
	}
}

.tags {
	li {
		display: inline-block;

		&:after {
			content: ",";
		}

		&:last-child:after {
			content: "";
		}
	}
}

//Big List
.big-list {
	font-size: 1.85rem;

	> li {
		@include transition(color,$fade-quick,ease-out);
		position: relative;
		outline: 0;
		

		&:hover {
			color: $black;
		}
	}
}

.li-text {
	@include transition(border-bottom-color,$fade-quick,ease-out);
	border-bottom: 1px solid rgba(255,255,255,0);

	&:hover {
		border-bottom-color: $gray-light-3;
	}
}

//LI Bullet
.bullet {
	font-size: 0.75em;
	padding: 0.4em 0.25em;
	display: block;
	position: absolute;
	width: 6em;
	left: -6.55em;
	top: 0.5em;

	li {
		opacity: 0;
	}

	&.active {
		.li-trigger {
			@extend .icon-radio-unchecked;
		}

		li {
			opacity: 1;
			-moz-transform: rotate(-360deg);
			-webkit-transform: rotate(-360deg);
			-o-transform: rotate(-360deg);
			-ms-transform: rotate(-360deg);
			transform: rotate(-360deg);
		}

		.li-delete {
			right: 5em;
		}

		.li-star {
			right: 3.4em;
		}

		.li-move {
			right: 1.7em;
		}
	}
}

//LI 
.li-text {
	display: block;
	outline: 0;
}

.li-options {
	position: absolute; 
	top: 0;
	right: 0;
	width: 6em;
	height: 1em;

	> li {
		@include transition(all,0.3s,ease-out);
		position: absolute;
		top: 0;
		right: 0;
	}

	a {
		display: block;
		@include transition(all,0.15s,ease-out);
	}
}

.li-trigger {
	@extend .icon-radio-checked;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.li-delete {
	a {
		@extend .icon-remove;
	}
}

.li-star {
	a {
		@extend .icon-star;
	}
}

.li-move {
	a {
		@extend .icon-move;
	}
}

.li-close {
	a {
		@extend .icon-radio-unchecked;
	}
}

/* Social Share Module */
.social-share {

	&.fixed {

		.social-share-container {
			border-radius: 30px;
			height: 50px;
			width: 50px;
			margin: 0;
			@include transition(width,0.3s,ease-out);
		}

		li {
			position: absolute;
			right: 0.3rem;
			margin: 0;
			@include transition(all,0.3s,ease-out);
		}

		.share-trigger {
			display: block;
			z-index: 99;
			
			.share-label {
				text-transform: uppercase;
				text-align: center;
				font-size: 0.75rem;
				display: block;
				margin: 3px 0 0 -4px;
			}
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			opacity: 1;

			.social-share-container {
				width: 300px;
			}

			li:not(.share-trigger) {
				-moz-transform: rotate(-360deg);
				-webkit-transform: rotate(-360deg);
				-o-transform: rotate(-360deg);
				-ms-transform: rotate(-360deg);
				transform: rotate(-360deg);
			}
			
			.s-1 {
				right: 250px;
			}

			.s-2 {
				right: 190px;
			}

			.s-3 {
				right: 130px;
			}

			.s-4 {
				right: 70px;
			}

			.social-count {
				-webkit-animation: bullet-popin 0.3s 0.3s forwards; /* Safari 4+ */
			  	-moz-animation: bullet-popin 0.3s 0.3s forwards; /* Fx 5+ */
			  	-o-animation: bullet-popin 0.3s 0.3s forwards; /* Opera 12+ */
			  	animation: bullet-popin 0.3s 0.3s forwards; /* IE 10+ */
			}
		}
	}
}

//Share container for social icons
.social-share-container {
	padding: 0.3rem;
	margin-bottom: $space;
	overflow: hidden;
	background: url(../images/gallery_buttonbar.png) #25bac5;
}

.social-title {
	width: 40px;
	font-size: 1.3rem;
	border-radius: 20px;

	position: absolute;
	bottom: 0;
	right: 0;
}

.social-share-list {
	margin: 0 auto;
	text-align: center;

	li {
		float: left;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: block;

		&:hover {
			color: $gray-dark;
		}
	}

	.icon {
		background: no-repeat 50% 50% $black;
		width: 40px;
		height: 40px;
		font-size: 1.3rem;
		padding: 0.6rem;
		border-radius: 20px;

		&:hover, &:focus {
			background-color: $gray-dark;
		}
	}

	.social-count {
		display: inline-block;
		margin-top: 0.3em;
		padding: 0.2em 0.5em;
		background: #65f3fd;
		border-radius: 5px;
		text-transform: uppercase;
	}

	.share-trigger {
		display: none;
	}

	.icon-share {
		display: block;
		padding: 0.9rem 0;
		font-family: $font;
		font-size: 0.65rem;
		text-transform: uppercase;
		font-weight: bold;
	}
}


@-webkit-keyframes bullet-popin {
  0%   { bottom: -5em; }
  100% { bottom: -1.5em; }
}
@-moz-keyframes bullet-popin {
  0%   { bottom: -5em; }
  100% { bottom: -1.5em; }
}
@-o-keyframes bullet-popin {
  0%   { bottom: -5em; }
  100% { bottom: -1.5em; }
}
@keyframes bullet-popin {
  0%   { bottom: -5em; }
  100% { bottom: -1.5em; }
}


