<div class="block block-hero">
	<a href="{{ url }}" class="b-inner">
		<div class="b-text">
			<h1 class="b-title">{{ headline.short }}</h1>
			<p class="b-excerpt">{{ excerpt.short }}</p>
		</div>
		<div class="b-thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
	</a>
</div>