<div class="jewelry-panel">
	<div class="jewelry-panel-image">
		<img src="{{ img.square.src }}">
	</div>
	<div class="jewelry-info">
		<h2 class= "alpha">
			{{ name }}
		</h2>
		<p>
			{{ description }}
		</p>
		
		<ul>
			<li class="type">
				{{ type }}
			</li>
			<li class="material">
				{{ material }}
			</li>
			<li class="retail">
				{{ retail }}
			</li>
			<li class="bom">
				{{ bom }}
			</li>
			<li class="inventory">
				{{ inventory }}
			</li>
			<li class="sold">
				{{ sold }}
			</li>
		</ul>
		<a href="#" class="btn">Buy On Etsy</a>
	</div>
</div>
