{{# shops }}
<div class="events-list-item">
	<a href="{{ url }}">
		<h3>{{ name }}</h3>
		<div class="location">
			{{ street }}
		</div>
		<div class="location">
			{{ city }}, {{ state }} {{zip}}
		</div>
	</a>
</div>
{{/ shops }}