{{# event }}
<div class="events-list-item">
	<a href="{{ url }}">
		<h3>{{ name }}</h3>
		<div class="location">
			{{ location }}
		</div>
		<div class="date">
			{{ date }}
		</div>
		<div class="time">
			{{ time }}
		</div>
		<div class="description">
			{{ description }}
		</div>
	</a>
</div>
{{/ event }}