{{# event }}
<div class="events-list-item">
	<a href="https://business.facebook.com/events/1426539241008276/?business_id=736329749797735">
		<h3>{{ name }}</h3>
		<div class="location">
			{{ location }}
		</div>
		<div class="date">
			{{ date }}
		</div>
		<div class="time">
			{{ time }}
		</div>
		<div class="description">
			{{ description }}
		</div>
	</a>
</div>
{{/ event }}