<div class="jewelry-gallery">
    <ul>
      <li class="active"><img  src="{{ img.square.src }}" alt="Jewelry 1" /></li>
      <li><img src="http://frostfinery:8888/wp-content/uploads/2014/11/collection_keystonestuds_silver1.jpg" alt="Jewelry 2" /></li>
      <li><img src="http://frostfinery:8888/wp-content/uploads/2014/11/collection_barnecklace_diamondstamp.jpg" alt="Jewelry 3" /></li>
    </ul>
</div>