<div class="events-list-item">
	<a href="https://business.facebook.com/events/1426539241008276/?business_id=736329749797735">
		<h3>Sewickley Night Market</h3>
		<div class="location">
			412 Main Street, Sewickley, PA
		</div>
		<div class="date">
			Friday, August 28, 2015
		</div>
		<div class="time">
			6:00PM-9:00PM
		</div>
		<div class="image">
			Image
		</div>
	</a>
</div>