<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #db5370;"></span>
		<span class="sg-label">$pink: #db5370</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f9f9;"></span>
		<span class="sg-label">$gray-light: #f9f9f9;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">$gray-light-2: #eee;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ddd;"></span>
		<span class="sg-label">$gray-light-3: #ddd;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bbb;"></span>
		<span class="sg-label">$gray-light-4: #bbb;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #828383;"></span>
		<span class="sg-label">$gray: #828383;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">$gray-med: #666;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2c2c2c;"></span>
		<span class="sg-label">$gray-dark: #2c2c2c;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2c2c2c;"></span>
		<span class="sg-label">$black : #000;</span>
	</li>
</ul>