<p>$font : "lft-etica", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>$font : "lft-etica", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>$font : "lft-etica", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-secondary">$font-secondary : "adelle", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p class="font-secondary"><em>$font-secondary : "adelle", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-secondary"><strong>$font-secondary : "adelle", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-tertiary">$font-tertiary : "etica-display", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p class="font-tertiary"><em>$font-tertiary : "etica-display", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-tertiary"><strong>$font-tertiary : "etica-display", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>